extends layout
block append main
 .left
   .ManUv
     h3 PPJ 
   .ManUv
     h4 #{uid}
 .right
  form(action='/add_case', method='POST')
   div(class="form-group row")
    label(for="exampleInputEmail1" class="col-sm-2 col-form-label") Username
    div(class="col-sm-10")
     input(type="text" name="txtUID" class="form-control" aria-label="Project Name" aria-describedby="inputGroup-sizing-default" readonly value=uid )
    label(for="exampleInputEmail1" class="col-sm-2 col-form-label") Project Name
    div(class="col-sm-10")
     input(type="text" name="txtProjectName" class="form-control" aria-label="Project Name" aria-describedby="inputGroup-sizing-default" required)
    label(for="exampleInputEmail1" class="col-sm-2 col-form-label") Type
    div(class="col-sm-10")
     select( class="form-select" id="inputGroupSelect01" name="cbxType")
       option(value="") -- Select Type --
       option(value="Hardware") Hardware
       option(value="Software") Software

